.catalog {
  padding-top: 27px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 63px;
    padding-bottom: 64px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 81px;
  }
}

.catalog-content {
  overflow-x: hidden;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 0;
    margin-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
    font-family: $font_custom;
  }
}

.catalog__list {
  @include list-reset;
  margin: -20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
