.contacts-list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 80px;
  }
}

.contacts-list__input {
  font-family: inherit;
  position: relative;
  text-transform: uppercase;
  padding: 14px;
  width: 100%;
  border: 1px solid $special_grey;

  @media (min-width: $desktop-width) {
    padding: 9px 18px;
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;

    @media (min-width: $desktop-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}


.contacts-list__item {
  position: relative;
}

.contacts-list__svg {
  position: absolute;
  top: 16px;
  right: 15px;
}
