.contacts .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-column: 1/-1;
  padding: 28px 20px;

  @media (min-width: $desktop-width) {
    position: absolute;
    padding: 60px 50px 50px 60px;
    top: 100px;
    left: 240px;
    background-color: $basic_white;
  }
}

.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    z-index: 1;
    padding: 66px 89px 59px 76px;
    margin-top: 96px;
    margin-left: 50px;
    margin-right: 500px;
    margin-bottom: 93px;
    background-color: $basic_white;
  }
}

.contacts__footer-form {
  background-color: $basic_grey;
}
