.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $title_black;
}

.contacts-input__control::placeholder {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
}
