.contacts-list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 80px;
  }
}

.contacts-list__input {
  font-family: inherit;
  position: relative;
  text-transform: uppercase;
  padding: 14px;
  width: 100%;
  border: 1px solid $special_grey;

  @media (min-width: $desktop-width) {
    padding: 9px 18px;
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;

    @media (min-width: $desktop-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.contacts-list__item {
  position: relative;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--mail {
    &::before {
      background-image: url("../img/form-img/letter.svg");
    }
  }

  &--tel {
    &::before {
      background-image: url("../img/form-img/phone.svg");
    }
  }
}

// .contacts-list__item--mail::before {
//   position: absolute;
//   background-image: url("../img/form-img/letter.svg");
//   top: 14px;
//   right: 3%;
//   width: 18px;
//   height: 13px;
// }

// .contacts-list__item--tel::before {
//   position: absolute;
//   background-image: url("../img/form-img/phone.svg");
//   top: 11px;
//   right: 13px;
//   width: 20px;
//   height: 20px;

//   @media (min-width: $desktop-width) {
//     top: 13px;
//     right: 13px;
//   }
// }
