.desc {
  font-weight: 400;
  padding-bottom: 60px;
}

.desc__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    counter-reset: desc-list-counter 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 40px;
  }
}


.desc__item {
  position: relative;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    @media (min-width: $tablet-width) {
      counter-increment: desc-list-counter;
      content: counter(desc-list-counter);
      position: absolute;
      top: -46px;
      right: 53%;
      color: $basic_grey;
      font-family: $font_custom;
      font-size: 280px;
      line-height: 280px;
      font-weight: 400;
      z-index: -1;
      transform: translate(50%);
    }

    @media (min-width: $desktop-width) {
      right: 38%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 82px;
    padding-bottom: 74px;
  }
}


.desc__item--leaf::before {
  background-image: url("../img/index-img/desc__svg__1.svg");
}

.desc__item--powder::before {
  background-image: url("../img/index-img/desc__svg__2.svg");
}

.desc__item--nutrition::before {
  background-image: url("../img/index-img/desc__svg__3.svg");
}

.desc__item--watch::before {
  background-image: url("../img/index-img/desc__svg__4.svg");
}

.desc__text {
  font-family: $font_basic;
  margin: 0;
  padding-left: 75px;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    width: 62%;
  }

  @media (min-width: $tablet-width) {
    width: 89%;
  }
}

.desc__name,
.desc__value {
  font-family: $font_basic;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.desc__row {
  display: flex;
}

.desc__value {
  margin-left: auto;
}

.desc__title {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 127px;
  }
}
