.example__text {
  font-family: $font_basic;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__title {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.example .wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__list {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}

.example__number {
  font-size: 24px;
  line-height: 24px;
}

.example__item-text {
  font-family: $font_basic;
  font-size: 12px;
  line-height: 12px;
}

.example__subtext {
  font-family: $font_basic;
  font-size: 14px;
  line-height: 20px;
  color: $title_black;

  @media (min-width: $tablet-width) {
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}

.example__inner {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    flex: 0 1 50%;
  }
}

.example__slider {
  @media (min-width: $desktop-width) {
    flex: 0 1 50%;
  }
}

.example {
  position: relative;
  z-index: 1;
  background-color: $basic_grey;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.example::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 348px;
    background-color: $basic_grey;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 348px;
    background-color: $basic_grey;
    z-index: -1;
  }
}
