.food {
  background-image: url("../../img/index-img/food-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  border: 1px solid transparent;
  text-align: center;

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.food__info {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
  }
}

.food__title {
  margin: 0;
  padding: 25px 0 27px 0;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  color: $basic_white;

  @media (min-width: $tablet-width) {
    color: $title_black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.food__text {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $basic_white;
  padding: 0 0 29px 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $title_black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.food__group {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.food__button {
  @media (min-width: $tablet-width) {
    order: 3;
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    text-decoration: none;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.food__img {
  @media (min-width: $tablet-width) {
    order: 4;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.food__background {
  @media (min-width: $desktop-width) {
    display: none;
    width: 50%;
    background-image: url("../../img/index-img/tablet-green-cat.png");
    background-repeat: no-repeat;
  }
}
