.food {
  position: relative;
  width: 100%;
  // background-image: url("../../img/index-img/food-bg.png"), background-color: $green_light;;
  background: url("../img/index-img/food-bg.png") , linear-gradient(to right, ($green_light), ($green_light));
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 320px;
  border: 1px solid transparent;
  padding-bottom: 20px;
  text-align: center;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    height: 100%;
    padding-left: 90px;
    position: relative;
    background: none;
    background-color: none;
  }

  @media (min-width: $desktop-width) {
    background-image: none;
    padding-bottom: 277px;
  }
}

.food__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 27px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic_white;

  @media (min-width: $tablet-width) {
    margin: 0 0 41px 0;
    color: $title_black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-column: 1/2;
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.food__text {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $basic_white;
  margin-bottom: 29px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    color: $title_black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 52px;
    font-size: 20px;
    line-height: 20px;
    color: $title_black;
  }
}

.food__button {
  @media (min-width: $tablet-width) {
    order: 3;
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    text-decoration: none;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.food__img {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    order: 4;
    width: 709px;
    height: 609px;
    margin-top: -64px;
    margin-left: -61px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    top: -35px;
    left: 38%;
    z-index: 1;
  }
}

.food__info {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.food__background {
  @media (min-width: $desktop-width) {
    display: none;
    width: 50%;
    background-image: url("../img/index-img/tablet-green-cat.png");
    background-repeat: no-repeat;
  }
}
