.footer {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.footer--form {
  background-color: $basic_grey;
}

.footer__invite-text {
  font-family: $font_custom;
  font-size: 16px;
  line-height: 20px;
  color: $hard-black;
  text-transform: uppercase;
}

.footer__address {
  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.footer__address-text {
  font-family: $font_basic;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}

.footer__map {
  background-color: $basic_grey;
}

.footer__map-iframe {
  width: 100%;
  height: 402px;
  border: none;
  background-color: $basic_grey;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.footer__list {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $index_grey;
  border-bottom: 1px solid $index_grey;

  @media (min-width: $tablet-width) {
    display: flex;
    border: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.footer__info {
  background-color: $basic_grey;
  padding: 55px 30px 61px 30px;
  text-align: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
  }
}

.footer__link {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.footer__logo {
  margin-bottom: 52px;

  @media(min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
}

.footer__contacts--margin {
  margin-right: 5px;

  @media (min-width:$desktop-width) {
    margin-right: 72px;
  }
}

.footer__logo-text {
  margin: 0;
  font-family: $font_basic;
  font-size: 16px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }
}
