.form-radio {
  text-transform: uppercase;
  color: $special_dark-grey-2;

  @media (min-width: $desktop-width) {
    padding: 13px 0;
    margin: 0;
  }
}

/*Radio-style*/

.form-radio__input {
  display: none;
}

.form-radio__span {
  position: relative;
  padding-left: 41px;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 54px;
  }
}

.form-radio__span::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 0;
  border: 1px solid $special_grey;

  @media (min-width: $desktop-width) {
    width: 40px;
    height: 40px;
    top: 1px;
  }
}

.form-radio__span:hover::before {
  border: 1px solid $dark_grey;
}

.form-radio__span::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 9px;
  background-color: $green;
  opacity: 0;

  @media (min-width: $desktop-width) {
    top: 15px;
    left: 14px;
  }
}

.form-radio__input:checked + .form-radio__span::after {
  opacity: 1;
}

.form-radio__input:disabled + .form-radio__span {
  opacity: 0.3;
}

.form-radio--last-child {
  margin-bottom: 0;
}

.form-radio--first-child {
  padding-top: 0;
}
