.form {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.form__radio {
  color: $special_dark-grey-2;
  margin-bottom: 20px;
}

.form__group--contacts__list {
  @include list-reset;
}

.form__list {
  margin: 0;
  padding: 0;
  @include list-reset;
}

.form__button {
  width: 100%;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 45%;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 45%;
    margin-right: 20px;
  }
}

.form__name {
  margin-bottom: 49px;
}

.form__text {
  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 45%;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 45%;
  }
}

/*Radio-style*/

.form-radio-input {
  display: none;
}

.form-radio-span {
  position: relative;
  padding-left: 37px;
  padding-top: 2px;
}

.form-radio-span::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  border: 1px solid $special_grey;
}

.form-radio-span:hover::before {
  border: 1px solid $dark_grey;
}

.form-radio-span::after {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 9px;
  background-color: $green;
  opacity: 0;
}

.form-radio-input:checked + .form-radio-span::after {
  opacity: 1;
}

.form-radio-input:disabled + .form-radio-span {
  opacity: .3;
}
