.form-content {
  padding-top: 25px;

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 72px;
  }
}

.form-content__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1280px;
    padding: 0 110px;
    margin: 0;
    margin-right: auto;
  }
}

.form-content__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $title_black;
  text-align: center;
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 46px;
    line-height: 60px;
    margin-bottom: 54px;
    font-weight: 400;
  }
}

.form-content__subtext {
  color: $title_black;
  margin: 0;
  margin-bottom: 40px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}
