.form__group--checkbox {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__group--checkbox {
  color: $title_black;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    grid-column-gap: 37px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-column: 1/-1;
  }
}

.checkbox-list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1/-1;
    margin-bottom: 61px;
  }
}

.checkbox__title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.checkbox__item {
  margin-bottom: 20px;
}
