.form {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    row-gap: 67px;
  }
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &--name {
    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &--checkbox {
    color: $title_black;

    @media (min-width: $tablet-width) {
      grid-column: 1/-1;
      grid-column-gap: 37px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      grid-column-gap: 80px;
      grid-column: 1/-1;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      grid-column: 1/-1;
    }
  }
}

.form__group--radio {
  @media (min-width: $tablet-width) {
    padding: 25px;
    margin-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 0;
  }
}

.form__group-title {
  width: 275px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $title_black;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.form__radio {
  color: $special_dark-grey-2;
  margin-bottom: 20px;
}

.form__group--contacts__list {
  @include list-reset;
}

.form__list {
  margin: 0;
  padding: 0;

  @include list-reset;

  &--radio {
  @media (min-width: $desktop-width) {
    border: 1px solid $form_border;
    padding: 18px 28px 25px 28px;
  }
}

  &--name {
    @media (min-width: $desktop-width) {
      padding-top: 3px;
    }
  }
}


.form__button {
  width: 100%;
  margin-bottom: 21px;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 45%;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 45%;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.form__text {
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 45%;
  }
}
