.header {
  @media (min-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 72px;
  }
}

.header__nav {

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;
  }
}

.header__nav--active .nav__list {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 62px;
  right: 0%;
  background-color: $basic_white;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.header__nav--closed .nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.header__nav--active .nav__item {
  cursor: pointer;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 20px;
  }
}

.header__nav--active .nav__button {

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 18px;
    right: 57px;
    width: 22px;
    background-image:url("../../img/index-img/logo_mobile_cross.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header__nav-nojs .nav__list {
  display: block;
  position: absolute;
  width: 100%;
  top: 50px;
  right: 0%;
  padding-top: 20px;
  background-color: $basic_white;
  z-index: 1;
}

.header__nav-nojs .nav__item {
  cursor: pointer;
  text-align: center;
}

.header__nav-nojs .nav__item:last-child {
  margin-bottom: 23px;
}

.header--index::before {
  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 50%;
    height: 694px;
    background-image: url("../../img/index-img/bg_cat_other.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header--index::after {
  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 50%;
    height: 694px;
    background-color: $green;
    opacity: 0.85;
  }
}

.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
