.header {
  border-bottom: 1px solid $form_border;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 72px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  padding-top: 20px;
  justify-content: space-between;


  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;
  }
}

.header__nav--active .nav__list {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 73px;
  right: 0%;
  background-color: $basic_white;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.header__nav--closed .nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.header__nav--active .nav__item {
  cursor: pointer;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 20px;
  }
}

.header__nav--active .nav__button {
  box-shadow: none;
  transform: rotate(45deg);

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 0;
    width: 24px;
    height: 1.5px;
    background-color: $title_black;
    transform: rotate(90deg);
  }
}

.header__nav-nojs .nav__list {
  display: block;
  position: absolute;
  width: 100%;
  top: 50px;
  right: 0%;
  padding-top: 20px;
  background-color: $basic_white;
  z-index: 1;
}

.header__nav-nojs .nav__item {
  cursor: pointer;
  text-align: center;
}

.header__nav-nojs .nav__item:last-child {
  margin-bottom: 23px;
}

.header--index::before {
  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 50%;
    height: 694px;
    background-image: url("../../img/index-img/bg_cat_other.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header--index::after {
  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 50%;
    height: 694px;
    background-color: $green;
    opacity: 0.85;
  }
}
