.logo {
  padding-top: 13px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.logo--text-cat {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    padding-top: 0;
  }
}

.logo--img-cat {
  margin-right: 4px;
}

.logo__img--cat {
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 61px;
    height: 50px;
    margin-right: 7px;
  }
}

.logo__img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
