.nav__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.nav__link {
  display: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $title_black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}

.nav__item {
  @media (min-width: $tablet-width) {
    margin-right: 33px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.nav__button {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
