.nav__list {
  @include list-reset;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-right: 20px;
    position: static;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-right: 30px;
  }
}

/*Nav-link states*/

.nav__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $title_black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
}

.nav__link:hover {
  opacity: 0.6;
}

.nav__link:active {
  opacity: 0.3;
}

.nav__link--index {
  @media (min-width: $desktop-width) {
    color: $basic_white;
  }
}

.nav__link--index:hover {
  @media (min-width: $desktop-width) {
    opacity: 0.6;
  }
}

.nav__link--index:active {
  @media (min-width: $desktop-width) {
    opacity: 0.3;
  }
}

.nav__link--current {
  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    border-bottom: 2px solid $green;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic_white;
  }
}

.nav__item {
  @media (min-width: $tablet-width) {
    margin-right: 33px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.nav__button {
  border: none;
  width: 24px;
  height: 1.5px;
  margin-bottom: 12px;
  background-color: $title_black;
  box-shadow: 0 8px 0 0, 0 16px 0 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav__logo {
  display: flex;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    display: flex;
    position: static;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    padding-left: 30px;
  }
}

.nav__logo-img-cat {
  margin-right: auto;
}

.nav__logo-img-text {
  margin-right: auto;
}

.nav__logo-img:hover {
  opacity: 0.8;
}

.nav__logo-img:active {
  opacity: 0.6;
}

.nav__list--active .nav__item {
  padding-bottom: 18px;
  padding-top: 18px;
  border-bottom: 1px solid $form_border;
}

.header__nav-nojs .nav__item {
  padding-bottom: 18px;
  padding-top: 18px;
  border-bottom: 1px solid $form_border;
}

.nav__list--active .nav__item:last-child {
  border: none;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}
