.products {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 63px;
    align-items: end;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 27px;
  }
}

.products__text-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: $dark_black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    line-height: 21px;
  }
}

.products__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 21px 20px 23px;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, $basic_white 75px, $basic_grey 75px);
    padding: 0 38px;
    padding-bottom: 42px;
    margin-bottom: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    background-image: linear-gradient(to bottom, $basic_white 115px, $basic_grey 115px);
  }

  &--second-last {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.products__img {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 206px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.products__img--small {
  @media (min-width: $tablet-width) {
    margin: 0;
    width: 161px;
    height: 172px;
  }
}

.products__img-link {
  margin-top: 9px;
  grid-column: 1/2;
  grid-row: 1/3;
  justify-self: center;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    min-height: 240px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-bottom: 3px;
  }

    &--small {
      margin-top: 27px;

        @media (min-width: $tablet-width) {
          margin-top: 0;
      }

        @media (min-width: $desktop-width) {
        margin-top: 1px;
        margin-left: 7px;
      }
    }

    &--margin {
      margin-top: 13px;

      @media (min-width: $tablet-width) {
        margin-top: 0;
    }
  }
}

.products__name-title {
  padding-right: 41px;
  grid-column: 2/3;
  margin: 0;
  margin-top: 1px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: auto;
    padding: 0 46px;
    text-align: center;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    line-height: 21px;
    margin: 38px auto 15px 10px;
  }
}

.products__desc-list {
  grid-column: 2/3;
  margin: 0;
}

.products__link {
  grid-column: 1/-1;
  margin-top: auto;
}
