.program {
  padding-top: 20px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }
}

.program-group {
  display: flex;
}

.program__item {
  background-color: $basic_grey;
  padding: 21px 33px 18px 22px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 20px;
  }
}

.program__subtext {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $index_grey;
  font-family: $font_basic;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    width: 320px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.program__link {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $title_black;
  text-decoration: none;
  font-family: $font_custom;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }
}

.program__group {
  display: flex;
  align-items: center;
  padding: 30px 0 0 0;

  @media (min-width: $tablet-width) {
    display: grid;
  }
}

/*--Title--*/

.program__title {
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 60px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: $title_black;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }
}

.program {
  &--slim .pr__title {
    &::before {
      top: -5px;
      left: -6px;
      width: 50px;
      height: 50px;
      background-image: url("../img/index-img/cat__slim__svg.svg");

      @media (min-width: $tablet-width) {
        top: -5px;
        left: -6px;
      }
    }
  }

  &--pro .pr__title {
    &::before {
      top: -7px;
      left: -17px;
      height: 52px;
      width: 70px;
      background-image: url("../../img/index-img/cat__fat__svg.svg");
    }
  }
}

.pr__title {
  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.program__button {
  display: inline-block;
  width: 20px;
  height: 10px;
  background-image: url("../../img/index-img/arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 18px;
    left: 100px;
  }

  @media (min-width: $desktop-width) {
    top: 199px;
  }
}

// .program__button:hover {
//   display: inline-block;
//   width: 28px;
//   height: 10px;
//   background-image: url("../../img/index-img/arrow-big.svg");

//   @media (min-width: $tablet-width) {
//     position: absolute;
//     bottom: 18px;
//     left: 100px;
//   }

//   @media (min-width: $desktop-width) {
//     top: 199px;
//   }
// }

.program__button--slim {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 18px;
    left: 103px;
    }

    @media (min-width: $desktop-width) {
    top: 192px;
  }
}

.program__button--slim:hover {
  display: inline-block;
  width: 28px;
  height: 10px;
  background-image: url("../../img/index-img/arrow-big.svg");

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 18px;
    left: 103px;
  }

  @media (min-width: $desktop-width) {
    top: 192px;
  }
}

.program__button--pro {
  @media (min-width: $tablet-width) {
  position: absolute;
  bottom: 18px;
  left: 100px;
  }

  @media (min-width: $desktop-width) {
  top: 199px;
}
}

.program__button--pro:hover {
  display: inline-block;
  width: 28px;
  height: 10px;
  background-image: url("../../img/index-img/arrow-big.svg");

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 18px;
    left: 100px;
  }

  @media (min-width: $desktop-width) {
    top: 199px;
  }
}

.program__link:active,
.program__button:active {
  opacity: .3;
}
