.show {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    min-height: 88%;
    background: none;
    border: 2px solid $basic_grey;
  }
}

.show__title {
  position: relative;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding-top: 117px;
  margin-bottom: 8px;
  color: $hard-black;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/catalog-img/plus-card.png");
    display: block;
    width: 60px;
    height: 60px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 78%;
  }
}

.show__link {
  color: $special_dark-grey;
  background-color: $basic_grey;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
}

.show__text {
  margin: 0;
  font-family: $font_basic;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
  }
}

.show__plus {
  margin-top: 12px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
  }
}

.show__line {
  height: 2px;
  width: 30px;
  background-color: #d3d3d3;
}

.show__other__line {
  height: 2px;
  width: 30px;
  background-color: #d3d3d3;
  transform: rotate(90deg);
}
