.slider__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 23px;
  margin-right: 20px;
  margin-left: 20px;
}

.slider__button-text {
  border: none;
  font-family: $font_custom;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.slider__scale {
  display: flex;
  align-items: center;
  width: 50%;
  height: 14px;
  padding: 4px 6px;
  border: 1px solid $special_grey;
  border-radius: 12px;

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: $special_grey;
    border: none;
    height: 6px;
    width: 75%;
  }
}

.slider__scale-inner {
  width: 50%;
  height: 6px;
  background-color: $green;
  border-radius: 12px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    width: 27px;
    height: 28px;
    background-color: #68b738;
    border: 10px solid $basic_white;
    border-radius: 50%;
  }
}
