.slider__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
  margin-right: 33px;
  margin-left: 38px;
}

.slider__button-text {
  border: none;
  font-family: $font_custom;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $slider_grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.slider__span {
  @media (min-width: $tablet-width) {
    display: inline-block;
    padding-bottom: 6px;
    border-bottom: 1px dotted $slider-dark_grey;

    &:hover {
      border-bottom: 1px solid $slider-dark_grey;
    }

    &:active {
      border-bottom: none;
    }
  }
}

.slider__cat {
  width: 320px;
  height: 232px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 600px;
    height: 520px;
    right: 100px;
  }

  &--skinny {
    position: absolute;
    display: none;
    width: 600px;
    height: 520px;
    right: 0px;
  }
}

.slider__scale {
  display: flex;
  align-items: center;
  width: 42%;
  height: 14px;
  padding: 4px 6px;
  border: 1px solid $special_grey;
  border-radius: 12px;

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: $dark-scale_grey;
    border: none;
    height: 6px;
    width: 75%;
  }
}

.slider__scale-inner {
  position: relative;
  width: 50%;
  height: 6px;
  background-color: $green;
  border-radius: 12px;

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $green;
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    width: 34px;
    height: 34px;
    background-color: $basic_white;
    border: 1px solid $special_grey;
    border-radius: 50%;
  }

  &:active {
    border: 1px solid $green;
  }
}

.slider__preview {
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 550px;
  }
}
