.social {
  display: flex;
  flex-wrap: wrap;

  @include list-reset;

  justify-content: center;
}

.social__item {
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }
}

.social__icon:hover path {
  stroke: $green;
}

.social__icon:active path {
  opacity: .3;
}
