.social {
  display: flex;
  flex-wrap: wrap;

  @include list-reset;

  justify-content: center;
}

.social__item {
  margin-right: 37px;

  @media (min-width: $tablet-width) {
    margin-right: 31px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__icon:hover path {
  stroke: $green;
}

.social__icon:active path {
  opacity: 0.3;
}

.social__vk {
  @media (min-width: $tablet-width) {
    width: 28px;
    height: 17px;
  }
}

.social__inst {
  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }
}

.social__fb {
  @media (min-width: $tablet-width) {
    width: 16px;
    height: 29px;
  }
}
