.text-field {
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }

  &--last {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.text-field__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  padding: 14px 15px;
  text-transform: uppercase;
  flex-grow: 1;
  outline: none;
  border: 1px solid $form_border;

  @media (min-width: $desktop-width) {
    padding: 10px 20px 10px;
    font-size: 20px;
    line-height: 30px;
  }

  &--textarea {
    resize: vertical;
    height: 150px;
    padding: 9px 15px;

    @media (min-width: $tablet-width) {
      padding: 10px 19px;
    }
  }

  &::placeholder {
    display: block;
    font-size: 16px;
    line-height: 18px;
    opacity: 1;
    color: $special_dark-grey;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: $desktop-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover {
    border: 1px solid $special_grey;
  }

  &:focus {
    box-shadow: 0 0 0 1px $special_dark-grey;
    border: 1px solid $special_dark-grey;
  }

  &:invalid {
    box-shadow: 0 0 0 1px $input_pink;
    border: 1px solid $input_pink;
    color: $input_pink;
  }

  &:invalid + .text-field__icon {
    color:$input_pink;
  }
}

.text-field__label {
  text-transform: uppercase;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}


.text-field__input:hover + .text-field__icon,
.text-field__input:focus + .text-field__icon{
  color: $green;
}

.text-field__input:active {
  color: $green;
  opacity: 0.3;
}

.text-field__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.text-field__name {
  padding-right: 41px;
  background-color: $basic_white;

  @media (min-width: $tablet-width) {
    padding: 0 36px;
  }

  &::after {
    display: inline-block;
    position: absolute;
    top: 57%;
    left: 50%;
    margin-right: -50vw;
    content: "";
    height: 2px;
    width: 100%;
    background-color: $green;
    z-index: -1;

    @media (min-width: $tablet-width) {
      margin-left: -50vw;
      top: 20px;
    }
  }

  &--host {
    width: 49%;
    display: block;
  }
}
