.title__bold {
  font-family: $font_custom;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $title_black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title__bold--food {
  color: $basic_white;

  @media (min-width: $tablet-width) {
    color: $title_black;
  }
}
