.desc {
  font-weight: 400;
}

.desc__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.desc__item {
  @media (min-width: $tablet-width) {
    flex: 0 1 50%;
  }

  @media (min-width: $desktop-width) {
    flex: 0 1 25%;
  }
}

.desc__text {
  font-family: $font_basic;
}

.desc__name,
.desc__value {
  font-family: $font_basic;
  font-size: 12px;
  line-height: 16px;
}
