.desc {
  font-weight: 400;
}

.desc__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.desc__text {
  font-family: $font_basic;
}

.desc__name,
.desc__value {
  font-family: $font_basic;
  font-size: 12px;
  line-height: 16px;
}
