.desc {
  font-weight: 400;
}

.bold-title {
  font-size: 36px;
  line-height: 40px;
  color: var(--title_black);
}

.desc__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.desc__text {
  font-family: "Arial", sans-serif;
}

.desc__name,
.desc__value {
  font-family: $font_basic;
  font-size: 12px;
  line-height: 16px;
}

