.example__text {
  font-family: "Arial", sans-serif;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
}

.example__item-text {
  font-family: $font_basic;
  font-size: 12px;
  line-height: 12px;
}

.example__subtext {
  font-size: 14px;
  line-height: 20px;
  color: var(--title_black);
}
