.footer__invite-text {
  font-size: 16px;
  line-height: 20px;
}

.footer__address-text {
  font-family: $font_basic;
  font-size: 14px;
  line-height: 20px;
}

.footer__map-iframe {
  width: 100%;
}
