.footer__invite-text {
  font-family: $font_custom;
  font-size: 16px;
  line-height: 20px;
  color: $hard-black;
}

.footer__address-text {
  font-family: $font_basic;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}

.footer__map-iframe {
  width: 100%;
}

.footer__list {
  @include list-reset;
}
