.footer__invite-text {
  font-family: $font_custom;
  font-size: 16px;
  line-height: 20px;
  color: $hard-black;
}

.footer__address-text {
  font-family: $font_basic;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}

.footer__map-iframe {
  width: 100%;
}

.footer__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.footer__info {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__link {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}
