.nav__list {
  @include list-reset;
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.nav__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $title_black;
  text-decoration: none;
}

.nav__item:not(:last-child) {
  margin-right: 33px;
}

.nav__button {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
