.program__item {
  background-color: var(--basic_grey);
  padding: 21px 33px 18px 22px;
}

.program__title {
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--title_black);
  text-align: center;
}

.program__subtext {
  font-family: $font_basic;
  color: var(--special_dark-grey);
}

.program__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--title_black);
  text-decoration: none;
}
