$green: #68b738;
$slider_grey: #eaeaea;
$line_grey: #e6e6e6;
$slider-dark_grey: #b2b2b2;
$basic_grey: #f2f2f2;
$special_grey-2: #ebebeb;
$special_grey: #cdcdcd;
$other-special_grey: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$status_pink: #f28282;
$basic_green-2: #5eaa2f;
$title_black: #000000;
$basic_white: #ffffff;
$index_grey: #d9d9d9;
$dark_black: #222222;
$dark-scale_grey: #dcdcdc;
$font_basic: "Arial", sans-serif;
$font_custom: "Oswald", "Arial", sans-serif;
$hard-black: #111111;
$form_border: #e7e7e7;
$tablet-width: 768px;
$desktop-width: 1280px;
$dark_grey: #bababa;
$green-light: #62a53a;
$input_pink: #ff8282;
