.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 540px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 1280px;
  }
}

.wrapper--form-content {
  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }
}
