.show__title {
  font-size: 16px;
  line-height: 20px;
}

.show__link {
  color: $special_dark-grey;
  background-color: $basic_grey;
  font-size: 16px;
  line-height: 20px;
}

.show__text {
  font-family: $font_basic;
  font-size: 12px;
  line-height: 16px;
}
