.show__title {
  font-size: 16px;
  line-height: 20px;
}

.show__link {
  color: var(--special_dark-grey);
  background-color: var(--basic_grey);
  font-size: 16px;
  line-height: 20px;
}

.show__text {
  font-family: $font_basic;
  font-size: 12px;
  line-height: 16px;
}
